{% extends 'site_base.html' %}
{% load render_bundle get_files from webpack_loader %}

{% block bundle %}
    {% render_bundle 'index' %}
{% endblock %}

{% block content %}
	<div class='enter-game-wrapper'>
	    <h1 class='title-label'> Chat Island </h1>
	    <div class='enter-controls'>
	        <div class='enter-game-toggle'>
	        	<button id="create-game-public" class='control-button'> Create Public Island </button>
	        	<button id="create-game-private" class='control-button'> Create Private Island </button>
	        	<button id="play" class='control-button'> Join a Random Public Island </button>
	    	</div>
	    </div>
    </div>
{% endblock %}