<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    Welcome to Text Survivor<br>
        <div> Username </div>
        <input id="username-input" minlength="4" maxlength="10"> </input>
        <br/>
        <br/>
        <button id="play"> Play </button>
    </div>
    <script>
        document.querySelector('#play').onclick = function(e) {
            $.ajax({
                url: 'http://127.0.0.1:8000/home/load_room/',
                type: "GET",
                dataType: "json",
                success: function (data) {
                window.location.pathname = '/home/' + data.room_id + '/';
                }
            });
        }
    </script>
</body>
</html>