<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    {% block includes %}
    <div>
        <span> Room: </span> <span> {{ room_name }} </span> <br>
        <span> Player: </span>  <span> {{ player }} </span>
    </div> 
    
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send"><br><br>
    {{ room_name|json_script:"room-name" }}
    <div> Survivors </div> <br><br>
    {% for survivor in survivors %}
    <div> <span> {{ survivor.name }} </span> <div>
    {% endfor %}
    <script>

        function parseInput(message) {
            const regex = new RegExp('/w[ ][A-Za-z_]*')
            
            const splitReceiver = regex.exec(message) ? regex.exec(message)[0] : '' // /w example_mame
            const receiver = splitReceiver ? splitReceiver.split(' ')[1] : '{{ room_name }}' // example_name
            const newMessage = message.replace(splitReceiver + ' ', '')
            return [receiver, newMessage]
        }

        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data.receiver == '{{ room_name }}' || data.receiver == '{{ player }}' || data.player == '{{ player }}'){
                document.querySelector('#chat-log').value += ( data.player + ': ' + data.message + '\n');
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            const parsedInput = parseInput(message)
            const receiver = parsedInput[0]
            const parsedMessage = parsedInput[1]
            chatSocket.send(JSON.stringify({
                'message': parsedMessage,
                'command': 'new_message',
                'player': '{{ player }}',
                'receiver' : receiver
            }));
            messageInputDom.value = '';
        };
    </script>
    {% endblock includes %}
</body>
</html>