body
{
  font-family: "Arial";
  font-weight: 600;
  background-color: #EAE7DC;
}

.you-are {
  margin-left: 4px;
}

.game-body {
  display: flex;

  .dropdown-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    left: 585px;
    bottom: 18px;
    .tab-select {
      text-align: center;
      padding-bottom: 4px;
      color: #E9807f;
    }
  }
  .survivor-name-dropdown {
    width: 200px;
    background-color: #d8c385;
    z-index: 900;
    box-shadow: 1px 1px 5px 2px hsla(0,0%,47.5%,.21);
    border-radius: 5px;
    .message-survivor-option {
      text-align: center;
      cursor: pointer;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: rgba(255,227,48,0.21) 
      }
      &.selected {
        background-color: rgba(255,227,48,0.21) 
      }
    }
  }

  .chat-area {
    display: flex;
    flex-direction: column;
    width: 40%;
    border-radius: 4px;
    border-width: 3px;
    border: 3px solid #8E8D8A;

    #chat-log {
      cursor: default;
      resize: none;
      border: none;
      font-size: 15px;
      font-weight: 300;
      outline: none;
      line-height: 20px;
      padding-left: 4px;
      background-color: #f8f8f8;
    }
  }

  #chat-message-input {
      background: rgba(var(--sk_primary_background,255,255,255),1);
      border-radius: 4px;
      border: 3px solid #8E8D8A;
      min-height: 26px;
      min-width: 1px;
      padding-left: 10px;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-right: 0;
      flex: 1;
      font-size: 15px;
      font-weight: 300;
      outline: none;
      border-bottom: none;
      border-left: none;
      border-right: none;
      background-color: #f5f5f5;
      &.private-message {
      background-color: #EBE0EF
      }
    }

  .survivors-list {
    margin-left: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 4px;

  .survivor-wrapper {
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   .vote-count {
     margin-right: 22%;
     margin-top: 2%;
     color: #E85A4F;
   }

   .survivor-pill{
      min-width: 160px;
      padding-left: 8px;
      box-sizing: border-box;
      padding-right: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 42px;
      background-color: #d8c385;
      border-radius: 5px;
      padding-bottom: 12px;
      box-shadow: 0 0 8px 0 rgba(0,0,0,.22);
      &.voted-out {
        box-shadow: 0 0 0 3px #E98074 inset;
        border: none;
      }
   }

    .vote-button {
      border: 1px solid;
      border-radius: 5px;
      color: #1E1E1E;
      text-align: center;
      background-color: #E85A4F;;
      cursor: pointer;
      width: 82px;
      &.disabled {
        opacity: 0.38;
        color: black;
        pointer-events: none;
      }
      &:hover {
        box-shadow: 0 0 8px 0 gold;
      }

    }
    .vote-selection {
      margin: 8px 0px;
      text-align: center;

    }
  }
}